// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace ManualEvaluationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manual evaluation resources for traces, threads, and spans
 */
export class ManualEvaluationClient {
    protected readonly _options: NormalizedClientOptions<ManualEvaluationClient.Options>;

    constructor(options: ManualEvaluationClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Manually trigger evaluation rules on selected spans. Bypasses sampling and enqueues all specified spans for evaluation.
     *
     * @param {OpikApi.ManualEvaluationRequest} request
     * @param {ManualEvaluationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.manualEvaluation.evaluateSpans({
     *         projectId: "550e8400-e29b-41d4-a716-446655440000",
     *         entityIds: ["550e8400-e29b-41d4-a716-446655440000", "550e8400-e29b-41d4-a716-446655440001"],
     *         ruleIds: ["660e8400-e29b-41d4-a716-446655440000"],
     *         entityType: "trace"
     *     })
     */
    public evaluateSpans(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.ManualEvaluationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__evaluateSpans(request, requestOptions));
    }

    private async __evaluateSpans(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.ManualEvaluationResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/manual-evaluation/spans",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ManualEvaluationRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ManualEvaluationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/manual-evaluation/spans",
        );
    }

    /**
     * Manually trigger evaluation rules on selected threads. Bypasses sampling and enqueues all specified threads for evaluation.
     *
     * @param {OpikApi.ManualEvaluationRequest} request
     * @param {ManualEvaluationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.manualEvaluation.evaluateThreads({
     *         projectId: "550e8400-e29b-41d4-a716-446655440000",
     *         entityIds: ["550e8400-e29b-41d4-a716-446655440000", "550e8400-e29b-41d4-a716-446655440001"],
     *         ruleIds: ["660e8400-e29b-41d4-a716-446655440000"],
     *         entityType: "trace"
     *     })
     */
    public evaluateThreads(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.ManualEvaluationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__evaluateThreads(request, requestOptions));
    }

    private async __evaluateThreads(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.ManualEvaluationResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/manual-evaluation/threads",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ManualEvaluationRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ManualEvaluationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/manual-evaluation/threads",
        );
    }

    /**
     * Manually trigger evaluation rules on selected traces. Bypasses sampling and enqueues all specified traces for evaluation.
     *
     * @param {OpikApi.ManualEvaluationRequest} request
     * @param {ManualEvaluationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.manualEvaluation.evaluateTraces({
     *         projectId: "550e8400-e29b-41d4-a716-446655440000",
     *         entityIds: ["550e8400-e29b-41d4-a716-446655440000", "550e8400-e29b-41d4-a716-446655440001"],
     *         ruleIds: ["660e8400-e29b-41d4-a716-446655440000"],
     *         entityType: "trace"
     *     })
     */
    public evaluateTraces(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.ManualEvaluationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__evaluateTraces(request, requestOptions));
    }

    private async __evaluateTraces(
        request: OpikApi.ManualEvaluationRequest,
        requestOptions?: ManualEvaluationClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.ManualEvaluationResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/manual-evaluation/traces",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ManualEvaluationRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ManualEvaluationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/manual-evaluation/traces",
        );
    }
}
