// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace InsightsViewsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Insights View resources
 */
export class InsightsViewsClient {
    protected readonly _options: NormalizedClientOptions<InsightsViewsClient.Options>;

    constructor(options: InsightsViewsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Find insights views in a workspace
     *
     * @param {OpikApi.FindInsightsViewsRequest} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insightsViews.findInsightsViews()
     */
    public findInsightsViews(
        request: OpikApi.FindInsightsViewsRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPagePublic> {
        return core.HttpResponsePromise.fromPromise(this.__findInsightsViews(request, requestOptions));
    }

    private async __findInsightsViews(
        request: OpikApi.FindInsightsViewsRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPagePublic>> {
        const { page, size, name, projectId, sorting, filters } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
            name,
            project_id: projectId,
            sorting,
            filters,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/insights-views",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPagePublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/private/insights-views");
    }

    /**
     * Create a new insights view in a workspace
     *
     * @param {OpikApi.DashboardWrite} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insightsViews.createInsightsView({
     *         name: "name",
     *         config: {
     *             "key": "value"
     *         }
     *     })
     */
    public createInsightsView(
        request: OpikApi.DashboardWrite,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(this.__createInsightsView(request, requestOptions));
    }

    private async __createInsightsView(
        request: OpikApi.DashboardWrite,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/insights-views",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.DashboardWrite.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/insights-views");
    }

    /**
     * Get insights view by id
     *
     * @param {string} insightsViewId
     * @param {OpikApi.GetInsightsViewByIdRequest} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.insightsViews.getInsightsViewById("insightsViewId")
     */
    public getInsightsViewById(
        insightsViewId: string,
        request: OpikApi.GetInsightsViewByIdRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(
            this.__getInsightsViewById(insightsViewId, request, requestOptions),
        );
    }

    private async __getInsightsViewById(
        insightsViewId: string,
        _request: OpikApi.GetInsightsViewByIdRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/insights-views/${core.url.encodePathParam(insightsViewId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/insights-views/{insightsViewId}",
        );
    }

    /**
     * Delete insights view by id
     *
     * @param {string} insightsViewId
     * @param {OpikApi.DeleteInsightsViewRequest} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insightsViews.deleteInsightsView("insightsViewId")
     */
    public deleteInsightsView(
        insightsViewId: string,
        request: OpikApi.DeleteInsightsViewRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInsightsView(insightsViewId, request, requestOptions));
    }

    private async __deleteInsightsView(
        insightsViewId: string,
        _request: OpikApi.DeleteInsightsViewRequest = {},
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/insights-views/${core.url.encodePathParam(insightsViewId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/private/insights-views/{insightsViewId}",
        );
    }

    /**
     * Update insights view by id. Partial updates are supported - only provided fields will be updated.
     *
     * @param {string} insightsViewId
     * @param {OpikApi.UpdateInsightsViewRequest} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     * @throws {@link OpikApi.ConflictError}
     *
     * @example
     *     await client.insightsViews.updateInsightsView("insightsViewId", {
     *         body: {}
     *     })
     */
    public updateInsightsView(
        insightsViewId: string,
        request: OpikApi.UpdateInsightsViewRequest,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(this.__updateInsightsView(insightsViewId, request, requestOptions));
    }

    private async __updateInsightsView(
        insightsViewId: string,
        request: OpikApi.UpdateInsightsViewRequest,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const { body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/insights-views/${core.url.encodePathParam(insightsViewId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.DashboardUpdatePublic.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new OpikApi.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/private/insights-views/{insightsViewId}",
        );
    }

    /**
     * Delete insights views batch
     *
     * @param {OpikApi.BatchDelete} request
     * @param {InsightsViewsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.insightsViews.deleteInsightsViewsBatch({
     *         ids: ["ids"]
     *     })
     */
    public deleteInsightsViewsBatch(
        request: OpikApi.BatchDelete,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInsightsViewsBatch(request, requestOptions));
    }

    private async __deleteInsightsViewsBatch(
        request: OpikApi.BatchDelete,
        requestOptions?: InsightsViewsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/insights-views/delete-batch",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.BatchDelete.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/insights-views/delete-batch",
        );
    }
}
