// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as OpikApi from "../../../index.js";

export declare namespace AssertionResultsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Assertion result related resources
 */
export class AssertionResultsClient {
    protected readonly _options: NormalizedClientOptions<AssertionResultsClient.Options>;

    constructor(options: AssertionResultsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Batch ingestion of assertion results for traces or spans
     *
     * @param {OpikApi.AssertionResultBatch} request
     * @param {AssertionResultsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assertionResults.storeAssertionsBatch({
     *         entityType: "TRACE",
     *         assertionResults: [{
     *                 entityId: "entity_id",
     *                 name: "name",
     *                 status: "passed",
     *                 source: "ui"
     *             }]
     *     })
     */
    public storeAssertionsBatch(
        request: OpikApi.AssertionResultBatch,
        requestOptions?: AssertionResultsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__storeAssertionsBatch(request, requestOptions));
    }

    private async __storeAssertionsBatch(
        request: OpikApi.AssertionResultBatch,
        requestOptions?: AssertionResultsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/assertion-results",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AssertionResultBatch.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/private/assertion-results");
    }
}
