.cache
.idea
.vagrant
*.iml
**/.DS_Store
/target
dependency-reduced-pom.xml
target
build/
.ipynb_checkpoints
.cache/
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
comet-client-lib/**/*.pyc
__pycache__
/train-examples/nimrod
/train-examples/sarah
# Installer logs
pip-log.txt

#mkdocs
comet-client-lib/mkdocs/site/

# release-examples
train-examples/releases_examples/.envs/staging/COMET_API_KEY
train-examples/releases_examples/confusion_matrix_*.png
train-examples/releases_examples/log
train-examples/releases_examples/result/
train-examples/releases_examples/saved_models/

# the offline experiment default data directory
**/.cometml-runs
.vscode
