.loader {
  width: 1.5rem;
  aspect-ratio: 2;
  --loader-gradient: no-repeat
    radial-gradient(circle closest-side, hsl(var(--light-slate)) 90%, #0000);
  background:
    var(--loader-gradient) 0 50%,
    var(--loader-gradient) 50% 50%,
    var(--loader-gradient) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: jumpBalls 1s infinite linear;
}

@keyframes jumpBalls {
  20% {
    background-position:
      0 0,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0 100%,
      50% 0,
      100% 50%;
  }
  60% {
    background-position:
      0 50%,
      50% 100%,
      100% 0;
  }
  80% {
    background-position:
      0 50%,
      50% 50%,
      100% 100%;
  }
}
