.markdown > h2, h3, h4, h5, h6 {
  border-bottom: 1px solid var(--ifm-heading-color-border);
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}

.markdown > h2 {
    --ifm-h2-font-size: 1.875rem;
}

.markdown > h1 {
    font-size: 2.25rem;
}

.markdown code:not([class]) {
    color: var(--ifm-color-content);
    border-color: rgba(0, 0, 0, 0.04);
    padding-bottom: 2px;
    padding-left: 3.6px;
    padding-right: 3.6px;
    padding-top: 2px;
}

.markdown img {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 4px;
}

.markdown a {
  //color: rgb(0, 107, 230);
  text-underline-position: from-font; 
  text-decoration-line: underline; 
  text-decoration-thickness: 0.5px;
}

