.menu {
    overflow-y: auto;
    font-size: 0.875rem;
    font-weight: 400;

    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1rem !important;

    --ifm-menu-link-padding-horizontal: 1rem;

    .menu__caret {
        position: relative;

        &:hover::before {
            background-color: #1f29370d;
        }

        &::before {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover {
            background: none;
        }
    }
    
    .menu__link--sublist-caret:after {
        background: var(--ifm-menu-link-sublist-icon) 50% / 4rem 1.4rem;
    }

    .menu__list-item:not(:first-child) {
        margin-top: 0rem;
    }

    .menu__link {
        padding-left: 0.5rem;
        // margin-left: 0.25rem;
    }

    .menu__list .menu__list {
        margin-bottom: 0.25rem;
    }
    .menu__list-item {
        .menu__list {
            position: relative;
            margin-left: 0rem;
            padding-left: 1.5rem;
            // margin-left: 0.5rem;

            &::before {
                content: '';
                position: absolute;
                left: 0.75rem;
                top: 0;
                bottom: 0;
                width: 1px;
                background-color: var(--ifm-sidebar-color-line);
            }
            
            
        }
    }
}
