// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace SystemAnalyticsQueriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Internal endpoint to run Agent Insights free-form SQL
 */
export class SystemAnalyticsQueriesClient {
    protected readonly _options: NormalizedClientOptions<SystemAnalyticsQueriesClient.Options>;

    constructor(options: SystemAnalyticsQueriesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Runs Ollie-generated read-only SQL bounded to the caller's workspace and the requested project. Returns 501 when the Agent Insights toggle is off.
     *
     * @param {string} projectId
     * @param {OpikApi.AnalyticsQueryRequest} request
     * @param {SystemAnalyticsQueriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.UnprocessableEntityError}
     * @throws {@link OpikApi.NotImplementedError}
     *
     * @example
     *     await client.systemAnalyticsQueries.executeAnalyticsQuery("projectId", {
     *         query: "query"
     *     })
     */
    public executeAnalyticsQuery(
        projectId: string,
        request: OpikApi.AnalyticsQueryRequest,
        requestOptions?: SystemAnalyticsQueriesClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AnalyticsQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__executeAnalyticsQuery(projectId, request, requestOptions));
    }

    private async __executeAnalyticsQuery(
        projectId: string,
        request: OpikApi.AnalyticsQueryRequest,
        requestOptions?: SystemAnalyticsQueriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AnalyticsQueryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/internal/analytics-queries/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AnalyticsQueryRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AnalyticsQueryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new OpikApi.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new OpikApi.NotImplementedError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/internal/analytics-queries/projects/{projectId}",
        );
    }
}
