sphinx-autobuild
sphinx
furo
sphinx-click

# Dependency to document integrations
anthropic
botocore
cloudpickle
crewai!=0.114.0 # https://github.com/crewAIInc/crewAI/issues/2575
crewai-tools
dspy-ai
google-adk>=0.1.0
guardrails-ai<0.9.0
haystack-ai
langchain
langchain_core
llama_index
