sphinx-autobuild
sphinx
furo
sphinx-click

# Dependency to document integrations
anthropic
botocore
cloudpickle
crewai
crewai-tools
dspy-ai
guardrails-ai
haystack-ai
langchain
langchain_core
llama_index
