---
logging:
  level: ${GENERAL_LOG_LEVEL:-INFO}
  loggers:
    com.comet: ${OPIK_LOG_LEVEL:-INFO}

database:
  url: ${STATE_DB_PROTOCOL:-jdbc:mysql://}${STATE_DB_URL:-localhost:3306/opik?createDatabaseIfNotExist=true&rewriteBatchedStatements=true}
  user: ${STATE_DB_USER:-opik}
  password: ${STATE_DB_PASS:-opik}
  driverClass: ${STATE_DB_DRIVER_CLASS:-com.mysql.cj.jdbc.Driver}
  properties:
    wrapperPlugins: ${STATE_DB_PLUGINS:-''}

# For migrations
databaseAnalyticsMigrations:
  url: ${ANALYTICS_DB_MIGRATIONS_URL:-jdbc:clickhouse://localhost:8123/opik}
  user: ${ANALYTICS_DB_MIGRATIONS_USER:-opik}
  password: ${ANALYTICS_DB_MIGRATIONS_PASS:-opik}
  # Community support only. Requires an old driver for migrations to work
  driverClass: ru.yandex.clickhouse.ClickHouseDriver

# For service
databaseAnalytics:
  protocol: ${ANALYTICS_DB_PROTOCOL:-HTTP}
  host: ${ANALYTICS_DB_HOST:-localhost}
  port: ${ANALYTICS_DB_PORT:-8123}
  username: ${ANALYTICS_DB_USERNAME:-opik}
  password: ${ANALYTICS_DB_PASS:-opik}
  databaseName: ${ANALYTICS_DB_DATABASE_NAME:-opik}
  queryParameters: ${ANALYTICS_DB_QUERY_PARAMETERS:-health_check_interval=2000&compress=1&auto_discovery=true&failover=3}

health:
  healthCheckUrlPaths: [ "/health-check" ]
  healthChecks:
    - name: deadlocks
      critical: true
      type: alive
    - name: db
      critical: true
      type: ready
    - name: redis
      critical: true
      type: ready
    - name: clickhouse
      critical: true
      type: ready
    - name: mysql
      critical: true
      type: ready

distributedLock:
  lockTimeoutMS: ${DISTRIBUTED_LOCK_TIME_OUT:-500}

redis:
  singleNodeUrl: ${REDIS_URL:-}

authentication:
  enabled: ${AUTH_ENABLED:-false}
  apiKeyResolutionCacheTTLInSec: ${AUTH_API_KEY_RESOLUTION_CACHE_TTL_IN_SEC:-5} #0 means no cache
  sdk:
    url: ${AUTH_SDK_URL:-''}
  ui:
    url: ${AUTH_UI_URL:-''}

server:
  enableVirtualThreads: ${ENABLE_VIRTUAL_THREADS:-false}
  gzip:
    enabled: true

rateLimit:
    enabled: ${RATE_LIMIT_ENABLED:-false}
    generalLimit:
      limit: ${RATE_LIMIT_GENERAL_EVENTS_LIMIT:-10000}
      durationInSeconds: ${RATE_LIMIT_GENERAL_EVENTS_DURATION_IN_SEC:-60}
