.githubLink {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  margin-left: 1.25rem;
  background-color: var(--ifm-color-emphasis-200);
  transition: background-color 0.2s;
  text-decoration: none;
  height: 2.25rem;
}

.githubLink:hover {
  background-color: var(--ifm-color-emphasis-300);
}

.githubIcon {
  fill: var(--ifm-color-emphasis-700);
  margin-right: 0.5rem;
}

.starCount {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--ifm-color-emphasis-700);
}

@media (max-width: 996px) {
  .githubLink {
    display: none;
  }
}
