// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as OpikApi from "../../../index.js";

export declare namespace GuardrailsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Guardrails related resources
 */
export class GuardrailsClient {
    protected readonly _options: NormalizedClientOptions<GuardrailsClient.Options>;

    constructor(options: GuardrailsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Batch guardrails for traces
     *
     * @param {OpikApi.GuardrailBatchWrite} request
     * @param {GuardrailsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.guardrails.createGuardrails({
     *         guardrails: [{
     *                 entityId: "entity_id",
     *                 secondaryId: "secondary_id",
     *                 name: "TOPIC",
     *                 result: "passed",
     *                 config: {
     *                     "key": "value"
     *                 },
     *                 details: {
     *                     "key": "value"
     *                 }
     *             }]
     *     })
     */
    public createGuardrails(
        request: OpikApi.GuardrailBatchWrite,
        requestOptions?: GuardrailsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__createGuardrails(request, requestOptions));
    }

    private async __createGuardrails(
        request: OpikApi.GuardrailBatchWrite,
        requestOptions?: GuardrailsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/guardrails",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.GuardrailBatchWrite.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/guardrails");
    }
}
