name: opik

# Override for local backend + frontend development mode

services:

  # Override to not depend on any service
  # This is mostly for consistent operations like docker compose up/down and to avoid hanging containers
  # Demo data creation is triggered from opik.sh and dev-runner.sh
  demo-data-generator:
    depends_on: !override
      [ ]
