// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace RetentionRulesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Data retention rule management
 */
export class RetentionRulesClient {
    protected readonly _options: NormalizedClientOptions<RetentionRulesClient.Options>;

    constructor(options: RetentionRulesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List retention rules for the caller's workspace. Defaults to active only.
     *
     * @param {OpikApi.FindRetentionRulesRequest} request
     * @param {RetentionRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.retentionRules.findRetentionRules()
     */
    public findRetentionRules(
        request: OpikApi.FindRetentionRulesRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.RetentionRulePagePublic> {
        return core.HttpResponsePromise.fromPromise(this.__findRetentionRules(request, requestOptions));
    }

    private async __findRetentionRules(
        request: OpikApi.FindRetentionRulesRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.RetentionRulePagePublic>> {
        const { page, size, includeInactive } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
            include_inactive: includeInactive,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/retention/rules",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetentionRulePagePublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/private/retention/rules");
    }

    /**
     * Create a new retention rule. Auto-deactivates any existing active rule for the same scope.
     *
     * @param {OpikApi.RetentionRuleWrite} request
     * @param {RetentionRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.retentionRules.createRetentionRule({
     *         retention: "short_14d"
     *     })
     */
    public createRetentionRule(
        request: OpikApi.RetentionRuleWrite,
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.RetentionRulePublic> {
        return core.HttpResponsePromise.fromPromise(this.__createRetentionRule(request, requestOptions));
    }

    private async __createRetentionRule(
        request: OpikApi.RetentionRuleWrite,
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.RetentionRulePublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/retention/rules",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.RetentionRuleWrite.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetentionRulePublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/retention/rules");
    }

    /**
     * Get a specific retention rule by id
     *
     * @param {string} ruleId
     * @param {OpikApi.GetRetentionRuleByIdRequest} request
     * @param {RetentionRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.retentionRules.getRetentionRuleById("ruleId")
     */
    public getRetentionRuleById(
        ruleId: string,
        request: OpikApi.GetRetentionRuleByIdRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.RetentionRulePublic> {
        return core.HttpResponsePromise.fromPromise(this.__getRetentionRuleById(ruleId, request, requestOptions));
    }

    private async __getRetentionRuleById(
        ruleId: string,
        _request: OpikApi.GetRetentionRuleByIdRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.RetentionRulePublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/retention/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetentionRulePublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/retention/rules/{ruleId}",
        );
    }

    /**
     * Soft-deactivate a retention rule (sets enabled=false). Rules are never hard-deleted for audit trail.
     *
     * @param {string} ruleId
     * @param {OpikApi.DeactivateRetentionRuleRequest} request
     * @param {RetentionRulesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.retentionRules.deactivateRetentionRule("ruleId")
     */
    public deactivateRetentionRule(
        ruleId: string,
        request: OpikApi.DeactivateRetentionRuleRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deactivateRetentionRule(ruleId, request, requestOptions));
    }

    private async __deactivateRetentionRule(
        ruleId: string,
        _request: OpikApi.DeactivateRetentionRuleRequest = {},
        requestOptions?: RetentionRulesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/retention/rules/${core.url.encodePathParam(ruleId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/private/retention/rules/{ruleId}",
        );
    }
}
