.chainsContainer {
  --header-height: 130px;
  --row-indent: 16px;
  height: calc(100% - var(--header-height));

  ul li {
    position: relative;
  }

  ul li:not(:last-child):before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: -10000px;
    top: 0;
    background: hsl(var(--border));
    z-index: 5;
  }

  :global {
    @for $i from 1 through 10 {
      ul.level-#{$i} > li:before {
        left: calc($i * var(--row-indent));
      }
    }
  }
}

.chainItemOuterContainer {
  width: 100%;
  height: 60px;
  position: relative;

  &.focused {
    background-color: hsl(var(--muted) / 40%);

    .detailsDivider {
      background: hsl(var(--muted-disabled));
    }
  }

  &:hover {
    background: hsl(var(--primary-foreground));

    .detailsDivider,
    .chainItemSpanDivider {
      background: hsl(var(--border));
    }
  }

  .chainItemContainer {
    display: flex;
    padding: 8px 24px 8px 16px;
    height: 100%;

    &.search {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background: blue;
      }
    }

    .detailsContainerWithArrow {
      width: var(--details-container-width, 65%);
      min-width: 100px;
      display: flex;
      position: relative;

      .stubCell {
        position: relative;
        width: var(--row-indent);
        flex-shrink: 0;

        &.last:not(.first):after {
          content: "";
          position: absolute;
          width: 1px;
          left: -16px;
          bottom: 32px;
          height: 60px;
          background: hsl(var(--border));
        }

        &.last:before {
          content: "";
          position: absolute;
          height: 1px;
          left: -16px;
          right: -1px;
          top: 11px;
          background: hsl(var(--border));
        }
      }

      .chainNodeArrowContainer {
        position: relative;
        height: 22px;
        width: 22px;
        flex-shrink: 0;
        border-radius: 6px;
        margin-right: 8px;

        border: 1px solid hsl(var(--border));
        background: hsl(var(--background));
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: -webkit-transform 0.1s linear;

        &:not(.empty).expended {
          transform: rotate(90deg);
        }

        &:hover {
          background: hsl(var(--bg-primary-foreground));
        }

        &.empty {
          visibility: hidden;

          &:before {
            visibility: visible;
            content: "";
            position: absolute;
            height: 1px;
            width: unset;
            left: 0;
            right: 0;
            top: 10px;
            background: hsl(var(--border));
          }
        }
      }

      .detailsDivider {
        background: hsl(var(--muted));
        flex-grow: 1;
        width: 100%;
        height: 1px;
        flex-basis: 0;
      }

      .detailsOuterContainer {
        display: flex;
        text-wrap: nowrap;
        overflow: hidden;
        flex-direction: column;
        text-align: start;
        width: 100%;
        align-items: start;
        line-height: normal;

        .detailsInnerContainer {
          display: flex;
          width: 100%;
          align-items: center;
          gap: 8px;

          p {
            color: hsl(var(--foreground) / 90%);
            font-size: 14px;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .chainSpanOuterContainer {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: start;
      position: relative;
      flex-grow: 1;
      line-height: 1;
      justify-content: space-between;

      .chainSpanDetails {
        display: flex;
        gap: 4px;

        .chainSpanDetailsItem {
          display: flex;
          padding: 0 4px;
          gap: 4px;
          color: hsl(var(--muted-slate));
          font-size: 12px;
          font-weight: 400;

          svg {
            width: 12px;
            height: 12px;
          }
        }
      }

      .chainSpanContainer {
        position: relative;
        width: 100%;

        .chainSpanWrapper {
          height: 5px;
          z-index: 0;
          width: 100%;
          background: #19a979;
          position: absolute;
          top: 9px;
          border-radius: 5px;
          -webkit-transition:
            width 0.6s ease-in-out,
            left 0.6s ease-in-out;
          -moz-transition:
            width 0.6s ease-in-out,
            left 0.6s ease-in-out;
          -o-transition:
            width 0.6s ease-in-out,
            left 0.6s ease-in-out;
          transition:
            width 0.6s ease-in-out,
            left 0.6s ease-in-out;
        }
      }

      .chainItemSpanDivider {
        background: hsl(var(--muted-disabled));
        position: absolute;
        flex-grow: 1;
        height: 1px;
        top: 11px;
        width: 100%;
        flex-basis: 0;
      }
    }
  }
}
