// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace DashboardsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Workspace Dashboard resources
 */
export class DashboardsClient {
    protected readonly _options: NormalizedClientOptions<DashboardsClient.Options>;

    constructor(options: DashboardsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Find dashboards in a workspace
     *
     * @param {OpikApi.FindDashboardsRequest} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboards.findDashboards()
     */
    public findDashboards(
        request: OpikApi.FindDashboardsRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPagePublic> {
        return core.HttpResponsePromise.fromPromise(this.__findDashboards(request, requestOptions));
    }

    private async __findDashboards(
        request: OpikApi.FindDashboardsRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPagePublic>> {
        const { page, size, name, sorting } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
            name,
            sorting,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/dashboards",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPagePublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/private/dashboards");
    }

    /**
     * Create a new dashboard in a workspace
     *
     * @param {OpikApi.DashboardWrite} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboards.createDashboard({
     *         name: "name",
     *         config: {
     *             "key": "value"
     *         }
     *     })
     */
    public createDashboard(
        request: OpikApi.DashboardWrite,
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(this.__createDashboard(request, requestOptions));
    }

    private async __createDashboard(
        request: OpikApi.DashboardWrite,
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/dashboards",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.DashboardWrite.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/dashboards");
    }

    /**
     * Get dashboard by id
     *
     * @param {string} dashboardId
     * @param {OpikApi.GetDashboardByIdRequest} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.dashboards.getDashboardById("dashboardId")
     */
    public getDashboardById(
        dashboardId: string,
        request: OpikApi.GetDashboardByIdRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(this.__getDashboardById(dashboardId, request, requestOptions));
    }

    private async __getDashboardById(
        dashboardId: string,
        _request: OpikApi.GetDashboardByIdRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/dashboards/${core.url.encodePathParam(dashboardId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/dashboards/{dashboardId}",
        );
    }

    /**
     * Delete dashboard by id
     *
     * @param {string} dashboardId
     * @param {OpikApi.DeleteDashboardRequest} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboards.deleteDashboard("dashboardId")
     */
    public deleteDashboard(
        dashboardId: string,
        request: OpikApi.DeleteDashboardRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDashboard(dashboardId, request, requestOptions));
    }

    private async __deleteDashboard(
        dashboardId: string,
        _request: OpikApi.DeleteDashboardRequest = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/dashboards/${core.url.encodePathParam(dashboardId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/private/dashboards/{dashboardId}",
        );
    }

    /**
     * Update dashboard by id. Partial updates are supported - only provided fields will be updated.
     *
     * @param {string} dashboardId
     * @param {OpikApi.DashboardUpdatePublic} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     * @throws {@link OpikApi.ConflictError}
     *
     * @example
     *     await client.dashboards.updateDashboard("dashboardId")
     */
    public updateDashboard(
        dashboardId: string,
        request: OpikApi.DashboardUpdatePublic = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.DashboardPublic> {
        return core.HttpResponsePromise.fromPromise(this.__updateDashboard(dashboardId, request, requestOptions));
    }

    private async __updateDashboard(
        dashboardId: string,
        request: OpikApi.DashboardUpdatePublic = {},
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.DashboardPublic>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/dashboards/${core.url.encodePathParam(dashboardId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.DashboardUpdatePublic.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DashboardPublic.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new OpikApi.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/private/dashboards/{dashboardId}",
        );
    }

    /**
     * Delete dashboards batch
     *
     * @param {OpikApi.BatchDelete} request
     * @param {DashboardsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.dashboards.deleteDashboardsBatch({
     *         ids: ["ids"]
     *     })
     */
    public deleteDashboardsBatch(
        request: OpikApi.BatchDelete,
        requestOptions?: DashboardsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDashboardsBatch(request, requestOptions));
    }

    private async __deleteDashboardsBatch(
        request: OpikApi.BatchDelete,
        requestOptions?: DashboardsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/dashboards/delete-batch",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.BatchDelete.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/dashboards/delete-batch",
        );
    }
}
