.notebookBanner {
  padding: 1rem;
  padding-right: calc(1rem - var(--ifm-alert-border-width));
  margin-bottom: 1rem;
}

.bannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerLeft {
  display: flex;
  align-items: center;
}

.bannerRight {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .bannerLeft {
    display: none;
  }

  .bannerRight {
    width: 100%;
    justify-content: space-between;
  }

  .notebookBannerButton {
    flex: 1;
    max-width: calc(50% - 0.25rem); /* Subtracting half of the gap */
  }
}

.bannerIcon {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.bannerIcon svg {
  display: block;
  height: 1.2em;
  width: 1.2em;
  fill: var(--ifm-alert-foreground-color);
}

.bannerText {
  display: flex;
  align-items: center;
  font-size: 1em;
  line-height: 1;
}

.notebookBannerButton {
  padding: 0.5rem 1rem;
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.notebookBannerButton:hover {
  background-color: var(--ifm-color-primary-dark);
}
