flask==3.1.0
gunicorn==23.0.0
torch==2.6.0
transformers==4.51.1
accelerate==1.6.0  # for optimized GPU utilization
presidio-analyzer==2.2.358
spacy==3.8.5  # Download the en_core_web_lg model with: python -m spacy download en_core_web_lg
huggingface_hub[hf_xet]==0.30.1