@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 17% 26%;
    --foreground-secondary: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --tooltip: 224 17% 26%;
    --tooltip-foreground: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-gray: 240 14% 99%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 239 89% 64%;
    --primary-hover: 238 62% 51%;
    --primary-active: 238 65% 43%;
    --primary-100: 235 85% 97%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 93% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-slate: 215 16%, 47%;
    --muted-gray: 218 11% 65%;
    --muted-disabled: 220 14% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 348 86% 61%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 239 89% 64%;

    --warning: 348 86% 61%;
    --success: 129 100% 42%;
    --lite-slate: 215 20% 65%;

    --radius: 0.5rem;

    --header-height: 60px;
    --sidebar-width: 61px;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 224 17% 26%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .comet-expanded {
    --sidebar-width: 240px;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground comet-body;
  }
}

/* custom classes */
@layer base {
  .comet-title-xl {
    @apply font-medium text-3xl tracking-[0.01em] text-foreground-secondary;
  }

  .comet-title-l {
    @apply font-medium text-2xl tracking-[0.01em] text-foreground-secondary;
  }

  .comet-title-m {
    @apply font-medium text-xl tracking-[0.01em] text-foreground-secondary;
  }

  .comet-title-s {
    @apply font-medium text-lg tracking-[0.02em] text-foreground-secondary;
  }

  .comet-title-xs {
    @apply font-medium text-sm tracking-[0.03em] text-foreground-secondary;
  }

  .comet-body {
    @apply font-normal text-base tracking-[0.01em] text-foreground-secondary;
  }

  .comet-body-accented {
    @apply comet-body font-medium;
  }

  .comet-body-s {
    @apply font-normal text-sm tracking-[0.02em];
  }

  .comet-body-s-accented {
    @apply comet-body-s font-medium;
  }

  .comet-body-xs {
    @apply font-normal text-xs tracking-[0.02em];
  }

  .comet-body-xs-accented {
    @apply comet-body-xs font-medium;
  }

  .comet-code {
    @apply font-normal text-sm tracking-[0.02em];
    font-family:
      Ubuntu Mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
  }

  .comet-header-height {
    height: var(--header-height);
  }

  .comet-header-inset {
    top: var(--header-height);
  }

  .comet-sidebar-width {
    width: var(--sidebar-width);
  }

  .comet-content-inset {
    --comet-content-width: calc(100vw - var(--sidebar-width));
    left: var(--sidebar-width);
  }

  .comet-table-row-active[data-row-active="true"] td {
    background: hsl(var(--primary-foreground));
  }

  code,
  kbd,
  samp,
  pre {
    font-family:
      Ubuntu Mono,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace;
  }

  .comet-custom-scrollbar {
    &.firefox {
      scrollbar-color: #babac0 transparent;
      scrollbar-width: thin;
    }

    ::-webkit-scrollbar {
      background-color: #fff;
      width: 16px;
    }

    ::-webkit-scrollbar-track {
      background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 4px solid #fff;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #7d7d7d;
    }

    ::-webkit-scrollbar-button {
      display: none;
    }
  }

  .comet-no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .comet-no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// Table

// workaround to force firefox work correctly with cell height - https://stackoverflow.com/questions/36575846/how-to-make-div-fill-td-height-in-firefox
.comet-fix-cell-height {
  height: 1px;
}

@-moz-document url-prefix() {
  .comet-fix-cell-height {
    height: 100%;
  }
}

// rewrite padding for first cell for tables that takes full width with sticky behaviour
.comet-sticky-table {
  thead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: hsl(var(--border));
    z-index: 10;
  }

  thead:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: hsl(var(--border));
    z-index: 10;
  }

  td:first-child [data-cell-wrapper="true"],
  th:first-child [data-header-wrapper="true"] {
    padding-left: 24px !important;
  }

  td:last-child [data-cell-wrapper="true"],
  th:last-child [data-header-wrapper="true"] {
    padding-right: 24px !important;
  }
}

.comet-line-highlight {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    background: hsl(var(--secondary));
  }
}

.comet-markdown {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;

  pre code {
    font-size: 0.875rem !important;
    white-space: preserve-breaks;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.json-view_github.dark {
  color: white;
  --json-property: white;
  --json-index: white;
  --json-number: white;
  --json-string: white;
  --json-boolean: white;
  --json-null: white;
}

div.cm-theme div.cm-search.cm-panel {
  @apply px-2 py-1;

  input {
    @apply h-8 px-3 pb-1.5 pt-1 rounded-md bg-background text-sm placeholder:text-light-slate focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-muted-disabled disabled:text-muted-gray disabled:placeholder:text-muted-gray;
  }

  .cm-button {
    @apply leading-none text-foreground h-8 px-3 comet-body-s border border-border bg-background hover:text-foreground active:bg-primary-100 active:text-foreground disabled:border-muted-disabled disabled:text-muted-gray disabled:opacity-100 whitespace-nowrap rounded-md transition-colors focus-visible:outline-none disabled:pointer-events-none bg-none disabled:bg-muted-gray;
  }

  label {
    @apply hidden;
  }

  button[name="close"] {
    @apply top-0 bottom-px my-auto leading-none size-6 opacity-50 hover:opacity-100;
  }
}
