// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace ReportsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Ollie daily report management
 */
export class ReportsClient {
    protected readonly _options: NormalizedClientOptions<ReportsClient.Options>;

    constructor(options: ReportsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Callback from Ollie to update report status and content after generation.
     *
     * @param {string} projectId
     * @param {string} reportId
     * @param {OpikApi.ReportCompleteRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.reports.completeReport("projectId", "reportId", {
     *         status: "pending"
     *     })
     */
    public completeReport(
        projectId: string,
        reportId: string,
        request: OpikApi.ReportCompleteRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(
            this.__completeReport(projectId, reportId, request, requestOptions),
        );
    }

    private async __completeReport(
        projectId: string,
        reportId: string,
        request: OpikApi.ReportCompleteRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/projects/${core.url.encodePathParam(projectId)}/reports/${core.url.encodePathParam(reportId)}/complete`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ReportCompleteRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/projects/{projectId}/reports/{reportId}/complete",
        );
    }

    /**
     * Creates a pending report and triggers asynchronous generation via the orchestrator.
     *
     * @param {string} projectId
     * @param {OpikApi.GenerateReportRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.UnauthorizedError}
     * @throws {@link OpikApi.ForbiddenError}
     *
     * @example
     *     await client.reports.generateReport("projectId")
     */
    public generateReport(
        projectId: string,
        request: OpikApi.GenerateReportRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.GenerateReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateReport(projectId, request, requestOptions));
    }

    private async __generateReport(
        projectId: string,
        _request: OpikApi.GenerateReportRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.GenerateReportResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/projects/${core.url.encodePathParam(projectId)}/reports/generate`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GenerateReportResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new OpikApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new OpikApi.ForbiddenError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/projects/{projectId}/reports/generate",
        );
    }

    /**
     * Returns report preferences for a project, or null if none have been set.
     *
     * @param {string} projectId
     * @param {OpikApi.GetReportPreferenceRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.reports.getReportPreference("projectId")
     */
    public getReportPreference(
        projectId: string,
        request: OpikApi.GetReportPreferenceRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.ReportPreference> {
        return core.HttpResponsePromise.fromPromise(this.__getReportPreference(projectId, request, requestOptions));
    }

    private async __getReportPreference(
        projectId: string,
        _request: OpikApi.GetReportPreferenceRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.ReportPreference>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/projects/${core.url.encodePathParam(projectId)}/reports/preferences`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ReportPreference.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/projects/{projectId}/reports/preferences",
        );
    }

    /**
     * Enable or disable daily report generation for a project.
     *
     * @param {string} projectId
     * @param {OpikApi.UpdateReportPreferenceRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.reports.updateReportPreference("projectId", {
     *         body: {}
     *     })
     */
    public updateReportPreference(
        projectId: string,
        request: OpikApi.UpdateReportPreferenceRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.ReportPreference> {
        return core.HttpResponsePromise.fromPromise(this.__updateReportPreference(projectId, request, requestOptions));
    }

    private async __updateReportPreference(
        projectId: string,
        request: OpikApi.UpdateReportPreferenceRequest,
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.ReportPreference>> {
        const { body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/projects/${core.url.encodePathParam(projectId)}/reports/preferences`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ReportPreference.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ReportPreference.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/private/projects/{projectId}/reports/preferences",
        );
    }

    /**
     * Returns a paginated list of reports, newest first.
     *
     * @param {string} projectId
     * @param {OpikApi.GetReportsRequest} request
     * @param {ReportsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.reports.getReports("projectId")
     */
    public getReports(
        projectId: string,
        request: OpikApi.GetReportsRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.OllieReportPage> {
        return core.HttpResponsePromise.fromPromise(this.__getReports(projectId, request, requestOptions));
    }

    private async __getReports(
        projectId: string,
        request: OpikApi.GetReportsRequest = {},
        requestOptions?: ReportsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.OllieReportPage>> {
        const { page, size } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/projects/${core.url.encodePathParam(projectId)}/reports`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.OllieReportPage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/projects/{projectId}/reports",
        );
    }
}
