repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args:
          - --print-width=120
        files: ^apps/opik-documentation
        exclude: "^(apps/opik-documentation/documentation/docs/cookbook/)|^(apps/opik-documentation/documentation/fern/openapi/opik.yaml)|^(apps/opik-documentation/documentation/fern/docs/cookbook/)"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
        files: ^apps/opik-documentation
      - id: ruff-format
        files: ^apps/opik-documentation
