// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import type * as OpikApi from "../../../index.js";

export declare namespace AgentInsightsEnrollmentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Internal auto-first-run rollout enrollment
 */
export class AgentInsightsEnrollmentClient {
    protected readonly _options: NormalizedClientOptions<AgentInsightsEnrollmentClient.Options>;

    constructor(options: AgentInsightsEnrollmentClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Enrols the given projects, creating their job row if needed, or clears their enrolment. Idempotent.
     *
     * @param {OpikApi.Request} request
     * @param {AgentInsightsEnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agentInsightsEnrollment.enrolProjectsInAutoFirstRun({
     *         enrolled: true,
     *         projectIds: ["project_ids"]
     *     })
     */
    public enrolProjectsInAutoFirstRun(
        request: OpikApi.Request,
        requestOptions?: AgentInsightsEnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.Response> {
        return core.HttpResponsePromise.fromPromise(this.__enrolProjectsInAutoFirstRun(request, requestOptions));
    }

    private async __enrolProjectsInAutoFirstRun(
        request: OpikApi.Request,
        requestOptions?: AgentInsightsEnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.Response>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/internal/agent-insights/enrollment",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.Request.jsonOrThrow(request, { unrecognizedObjectKeys: "strip", omitUndefined: true }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.OpikApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/internal/agent-insights/enrollment",
        );
    }
}
