// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace AgentInsightsJobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Per-(workspace, project) Agent Insights report configuration
 */
export class AgentInsightsJobsClient {
    protected readonly _options: NormalizedClientOptions<AgentInsightsJobsClient.Options>;

    constructor(options: AgentInsightsJobsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the Agent Insights job for the (workspace, project), or 404 if none exists.
     *
     * @param {string} projectId
     * @param {OpikApi.GetAgentInsightsJobRequest} request
     * @param {AgentInsightsJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.agentInsightsJobs.getAgentInsightsJob("projectId")
     */
    public getAgentInsightsJob(
        projectId: string,
        request: OpikApi.GetAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AgentInsightsJob> {
        return core.HttpResponsePromise.fromPromise(this.__getAgentInsightsJob(projectId, request, requestOptions));
    }

    private async __getAgentInsightsJob(
        projectId: string,
        _request: OpikApi.GetAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AgentInsightsJob>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/jobs/${core.url.encodePathParam(projectId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentInsightsJob.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/agent-insights/jobs/{projectId}",
        );
    }

    /**
     * Creates the Agent Insights job for a project. 409 if one already exists.
     *
     * @param {string} projectId
     * @param {OpikApi.CreateAgentInsightsJobRequest} request
     * @param {AgentInsightsJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     * @throws {@link OpikApi.ConflictError}
     *
     * @example
     *     await client.agentInsightsJobs.createAgentInsightsJob("projectId")
     */
    public createAgentInsightsJob(
        projectId: string,
        request: OpikApi.CreateAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AgentInsightsJob> {
        return core.HttpResponsePromise.fromPromise(this.__createAgentInsightsJob(projectId, request, requestOptions));
    }

    private async __createAgentInsightsJob(
        projectId: string,
        _request: OpikApi.CreateAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AgentInsightsJob>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/jobs/${core.url.encodePathParam(projectId)}`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentInsightsJob.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new OpikApi.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/agent-insights/jobs/{projectId}",
        );
    }

    /**
     * Partially updates the Agent Insights job for a project (e.g. status; never deletes). Returns the updated job, or 404 if none exists.
     *
     * @param {string} projectId
     * @param {OpikApi.AgentInsightsJobUpdate} request
     * @param {AgentInsightsJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.agentInsightsJobs.updateAgentInsightsJob("projectId", {
     *         status: "enabled"
     *     })
     */
    public updateAgentInsightsJob(
        projectId: string,
        request: OpikApi.AgentInsightsJobUpdate,
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AgentInsightsJob> {
        return core.HttpResponsePromise.fromPromise(this.__updateAgentInsightsJob(projectId, request, requestOptions));
    }

    private async __updateAgentInsightsJob(
        projectId: string,
        request: OpikApi.AgentInsightsJobUpdate,
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AgentInsightsJob>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/jobs/${core.url.encodePathParam(projectId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AgentInsightsJobUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentInsightsJob.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/private/agent-insights/jobs/{projectId}",
        );
    }

    /**
     * Triggers an immediate report run for an existing job (over the last 24h). Fire-and-forget; returns 202. 404 if none exists.
     *
     * @param {string} projectId
     * @param {OpikApi.TriggerAgentInsightsJobRequest} request
     * @param {AgentInsightsJobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.agentInsightsJobs.triggerAgentInsightsJob("projectId")
     */
    public triggerAgentInsightsJob(
        projectId: string,
        request: OpikApi.TriggerAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__triggerAgentInsightsJob(projectId, request, requestOptions));
    }

    private async __triggerAgentInsightsJob(
        projectId: string,
        _request: OpikApi.TriggerAgentInsightsJobRequest = {},
        requestOptions?: AgentInsightsJobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/jobs/${core.url.encodePathParam(projectId)}/trigger`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/agent-insights/jobs/{projectId}/trigger",
        );
    }
}
