.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
.editorconfig
.eslintrc.json
.prettierrc
.github/**
*.vsix
test/**
.npmignore
package-lock.json
yarn.lock
