// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace AgentInsightsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Agent Insights report results
 */
export class AgentInsightsClient {
    protected readonly _options: NormalizedClientOptions<AgentInsightsClient.Options>;

    constructor(options: AgentInsightsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns a paginated list of issues that have at least one detail row within the requested time window, with metrics aggregated over the window
     *
     * @param {OpikApi.FindAgentInsightsIssuesRequest} request
     * @param {AgentInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.UnauthorizedError}
     *
     * @example
     *     await client.agentInsights.findAgentInsightsIssues({
     *         projectId: "project_id",
     *         fromDate: "2023-01-15",
     *         toDate: "2023-01-15"
     *     })
     */
    public findAgentInsightsIssues(
        request: OpikApi.FindAgentInsightsIssuesRequest,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AgentInsightsIssuePage> {
        return core.HttpResponsePromise.fromPromise(this.__findAgentInsightsIssues(request, requestOptions));
    }

    private async __findAgentInsightsIssues(
        request: OpikApi.FindAgentInsightsIssuesRequest,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AgentInsightsIssuePage>> {
        const { projectId, fromDate, toDate, status, sortBy, page, size } = request;
        const _queryParams: Record<string, unknown> = {
            project_id: projectId,
            from_date: fromDate,
            to_date: toDate,
            status:
                status != null
                    ? serializers.FindAgentInsightsIssuesRequestStatus.jsonOrThrow(status, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            sort_by:
                sortBy != null
                    ? serializers.FindAgentInsightsIssuesRequestSortBy.jsonOrThrow(sortBy, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            page,
            size,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/agent-insights/issues",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentInsightsIssuePage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new OpikApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/agent-insights/issues",
        );
    }

    /**
     * Returns the issue together with its per-day breakdown within the requested time window
     *
     * @param {string} issue_id
     * @param {OpikApi.GetAgentInsightsIssueByIdRequest} request
     * @param {AgentInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.UnauthorizedError}
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.agentInsights.getAgentInsightsIssueById("issue_id", {
     *         projectId: "project_id",
     *         fromDate: "2023-01-15",
     *         toDate: "2023-01-15"
     *     })
     */
    public getAgentInsightsIssueById(
        issue_id: string,
        request: OpikApi.GetAgentInsightsIssueByIdRequest,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.AgentInsightsIssueWithDetails> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAgentInsightsIssueById(issue_id, request, requestOptions),
        );
    }

    private async __getAgentInsightsIssueById(
        issue_id: string,
        request: OpikApi.GetAgentInsightsIssueByIdRequest,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.AgentInsightsIssueWithDetails>> {
        const { projectId, fromDate, toDate } = request;
        const _queryParams: Record<string, unknown> = {
            project_id: projectId,
            from_date: fromDate,
            to_date: toDate,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/issues/${core.url.encodePathParam(issue_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentInsightsIssueWithDetails.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new OpikApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/private/agent-insights/issues/{issue_id}",
        );
    }

    /**
     * Moves an issue through its lifecycle: open, resolved or closed
     *
     * @param {string} issue_id
     * @param {OpikApi.AgentInsightsIssueUpdate} request
     * @param {AgentInsightsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     * @throws {@link OpikApi.UnauthorizedError}
     * @throws {@link OpikApi.NotFoundError}
     *
     * @example
     *     await client.agentInsights.updateAgentInsightsIssue("issue_id", {
     *         projectId: "project_id",
     *         status: "open"
     *     })
     */
    public updateAgentInsightsIssue(
        issue_id: string,
        request: OpikApi.AgentInsightsIssueUpdate,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__updateAgentInsightsIssue(issue_id, request, requestOptions));
    }

    private async __updateAgentInsightsIssue(
        issue_id: string,
        request: OpikApi.AgentInsightsIssueUpdate,
        requestOptions?: AgentInsightsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/agent-insights/issues/${core.url.encodePathParam(issue_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AgentInsightsIssueUpdate.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new OpikApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new OpikApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/private/agent-insights/issues/{issue_id}",
        );
    }
}
