[kubernetes]
name=Kubernetes
baseurl=https://pkgs.k8s.io/core:/stable:/v{{ kubectl_major_version }}.{{ kubectl_minor_version }}/rpm/
enabled=1
gpgcheck=1
gpgkey=https://pkgs.k8s.io/core:/stable:/v{{ kubectl_major_version }}.{{ kubectl_minor_version }}/rpm/repodata/repomd.xml.key
