// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as OpikApi from "../../../index.js";

export declare namespace AiSpendClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Coding-agent spend analytics
 */
export class AiSpendClient {
    protected readonly _options: NormalizedClientOptions<AiSpendClient.Options>;

    constructor(options: AiSpendClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get the per-item breakdown for every composition lane in one request
     *
     * @param {OpikApi.SpendMetricRequest} request
     * @param {AiSpendClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     *
     * @example
     *     await client.aiSpend.getSpendAllBreakdowns({
     *         intervalStart: new Date("2024-01-15T09:30:00.000Z"),
     *         intervalEnd: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public getSpendAllBreakdowns(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.SpendBreakdownsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendAllBreakdowns(request, requestOptions));
    }

    private async __getSpendAllBreakdowns(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.SpendBreakdownsResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/ai-spend/composition/breakdowns",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.SpendMetricRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SpendBreakdownsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/ai-spend/composition/breakdowns",
        );
    }

    /**
     * Get coding-agent token-flow composition (Sankey)
     *
     * @param {OpikApi.SpendMetricRequest} request
     * @param {AiSpendClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     *
     * @example
     *     await client.aiSpend.getSpendComposition({
     *         intervalStart: new Date("2024-01-15T09:30:00.000Z"),
     *         intervalEnd: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public getSpendComposition(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.SpendCompositionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendComposition(request, requestOptions));
    }

    private async __getSpendComposition(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.SpendCompositionResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/ai-spend/composition",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.SpendMetricRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SpendCompositionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/ai-spend/composition",
        );
    }

    /**
     * Get the per-item breakdown for a composition lane
     *
     * @param {string} laneKey
     * @param {OpikApi.GetSpendLaneBreakdownRequest} request
     * @param {AiSpendClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     *
     * @example
     *     await client.aiSpend.getSpendLaneBreakdown("laneKey", {
     *         body: {
     *             intervalStart: new Date("2024-01-15T09:30:00.000Z"),
     *             intervalEnd: new Date("2024-01-15T09:30:00.000Z")
     *         }
     *     })
     */
    public getSpendLaneBreakdown(
        laneKey: string,
        request: OpikApi.GetSpendLaneBreakdownRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.SpendBreakdownResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendLaneBreakdown(laneKey, request, requestOptions));
    }

    private async __getSpendLaneBreakdown(
        laneKey: string,
        request: OpikApi.GetSpendLaneBreakdownRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.SpendBreakdownResponse>> {
        const { body: _body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                `v1/private/ai-spend/composition/${core.url.encodePathParam(laneKey)}/breakdown`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.SpendMetricRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SpendBreakdownResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/private/ai-spend/composition/{laneKey}/breakdown",
        );
    }

    /**
     * Get coding-agent spend KPI summary
     *
     * @param {OpikApi.SpendMetricRequest} request
     * @param {AiSpendClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     *
     * @example
     *     await client.aiSpend.getSpendSummary({
     *         intervalStart: new Date("2024-01-15T09:30:00.000Z"),
     *         intervalEnd: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public getSpendSummary(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.SpendSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendSummary(request, requestOptions));
    }

    private async __getSpendSummary(
        request: OpikApi.SpendMetricRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.SpendSummaryResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/ai-spend/summary",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.SpendMetricRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SpendSummaryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/ai-spend/summary");
    }

    /**
     * Get coding-agent spend per user
     *
     * @param {OpikApi.GetSpendUsersRequest} request
     * @param {AiSpendClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link OpikApi.BadRequestError}
     *
     * @example
     *     await client.aiSpend.getSpendUsers({
     *         body: {
     *             intervalStart: new Date("2024-01-15T09:30:00.000Z"),
     *             intervalEnd: new Date("2024-01-15T09:30:00.000Z")
     *         }
     *     })
     */
    public getSpendUsers(
        request: OpikApi.GetSpendUsersRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): core.HttpResponsePromise<OpikApi.SpendUserPage> {
        return core.HttpResponsePromise.fromPromise(this.__getSpendUsers(request, requestOptions));
    }

    private async __getSpendUsers(
        request: OpikApi.GetSpendUsersRequest,
        requestOptions?: AiSpendClient.RequestOptions,
    ): Promise<core.WithRawResponse<OpikApi.SpendUserPage>> {
        const { page, size, sorting, name, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            size,
            sorting,
            name,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "Comet-Workspace": requestOptions?.workspaceName ?? this._options?.workspaceName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.OpikApiEnvironment.Default,
                "v1/private/ai-spend/users",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.SpendMetricRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SpendUserPage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new OpikApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.OpikApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/private/ai-spend/users");
    }
}
