name: Publish Cursor Extension

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    defaults:
      run:
        working-directory: extensions/cursor

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm install

    - name: Package Extension
      run: npm run build

    - name: Get Extension Filename
      id: get_filename
      run: echo "filename=$(ls *.vsix)" >> $GITHUB_OUTPUT

    - name: Publish Extension to Open VSX
      env:
        OVSX_PAT: ${{ secrets.OVSX_PAT }}
      run: |
        npx ovsx publish ./${{ steps.get_filename.outputs.filename }} -p ${{ secrets.OVSX_PAT }}
