name: TypeScript SDK E2E Tests
run-name: "TypeScript SDK E2E Tests ${{ github.ref_name }} by @${{ github.actor }}"
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'sdks/typescript/**'
      - 'apps/opik-backend/**'
  push:
    branches: 
      - 'main'
    paths: 
      - 'sdks/typescript/**'
      - 'apps/opik-backend/**'
env:
  OPIK_ENABLE_LITELLM_MODELS_MONITORING: False
  OPIK_SENTRY_ENABLE: False
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  OPENAI_ORG_ID: ${{ secrets.OPENAI_ORG_ID }}
  OPIK_URL_OVERRIDE: http://localhost:5173/api
  OPIK_CONSOLE_LOGGING_LEVEL: DEBUG
jobs:
  run-e2e:
    name: TypeScript SDK E2E Tests Node ${{matrix.node_version}}
    permissions:
      contents: read
    runs-on: ubuntu-latest-m
    timeout-minutes: 30   
    strategy:
      fail-fast: false
      matrix:
        node_version: [18, 20, 22]

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
          
      - name: Set up Node.js ${{matrix.node_version}}
        uses: actions/setup-node@v4.2.0
        with:
          node-version: ${{matrix.node_version}}
    
      - name: Run latest Opik server
        env:
          OPIK_USAGE_REPORT_ENABLED: false
        run: |
          cd ${{ github.workspace }}
          ./opik.sh --build --guardrails
      
      - name: Check Opik server availability
        shell: bash
        run: |
          chmod +x ${{ github.workspace }}/tests_end_to_end/installer_utils/*.sh
          cd ${{ github.workspace }}/deployment/docker-compose
          echo "Check Docker pods are up"
          ${{ github.workspace }}/tests_end_to_end/installer_utils/check_docker_compose_pods.sh
          echo "Check backend health"
          ${{ github.workspace }}/tests_end_to_end/installer_utils/check_backend.sh

      - name: Install TypeScript SDK dependencies
        working-directory: sdks/typescript
        run: npm ci

      - name: Build TypeScript SDK
        working-directory: sdks/typescript
        run: npm run build

      - name: Run integration tests
        working-directory: sdks/typescript
        run: |
          # once OPIK-3910 is fixed we can revert to npm run test:integration
          npm run test:ci

      - name: Keep BE log in case of failure
        if: failure()
        run: |
          docker logs opik-backend-1 > ${{ github.workspace }}/opik-backend_node${{matrix.node_version}}.log

      - name: Attach BE log
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: opik-backend-log-node${{matrix.node_version}}
          path: ${{ github.workspace }}/opik-backend_node${{matrix.node_version}}.log

      - name: Stop opik server
        if: always()
        run: |
          cd ${{ github.workspace }}
          ./opik.sh --stop --guardrails
